.button {
    background-color: rgb(255, 255, 255);
    padding: 2px 6px 2px 6px;
    display:inline-block;
    border: 1px solid;
    margin: 20px 20px 20px 20px;
    border-radius: 1px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: arial;
    font-weight: 300px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 50px;
    width: 100px;   
}

.button:hover{
    color:#ffffff;
    background-color:rgb(1, 0, 59);
}

.submit {
    background-color: rgb(255, 255, 255);
    padding: 2px 6px 2px 6px;
    display:inline-block;
    border: 1px solid;
    margin: 20px 20px 20px 20px;
    border-radius: 1px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: arial;
    font-weight: 300px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 50px;
    width: 100px;   
}

.submit:hover{
    color:#ffffff;
    background-color:rgb(1, 0, 59);
}

.admin_login {
    font-family: arial;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.admin {
    font-family: arial;
    font-size: 25px;
    color: black;
    line-height: 50px;
    margin-left: 35px;
}

.admin input {
    font-family: arial;
    font-size: 20px;
    color: black; 
}

.loginbutton {
    background-color: rgb(209, 209, 209);
    padding: 2px 6px 2px 6px;
    display: block;
    border: 1px solid;
    border-radius: 1px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: arial;
    font-weight: 300px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    margin-top: 20px;
    margin-left: 70px;
    height: 50px;
    width: 100px;
} 

.loginbutton:hover{
    color:#ffffff;
    background-color:rgb(1, 0, 59);
}

h1 {
    font-family: arial;
    font-size: 80px;
    color: rgb(0, 0, 71);
}

body {
    background-color: rgb(255, 255, 255);
}

.loginbox {
    width: 320px;
    height: 420px;
    background: rgb(255, 255, 255);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border;  
    border-style: solid;  
    border-color: rgb(1, 0, 58);
    border-width: 10px;    
}
